{
  "targets": { "node": "current" },
  "presets": [
    ["@babel/preset-env", { "shippedProposals": true }],
    "@babel/preset-typescript"
  ],
  "overrides": [
    {
      "test": ["**/*.jsx", "**/*.tsx"],
      "presets": [["@babel/preset-react", { "runtime": "automatic" }]]
    }
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-transform-import-meta"]
    }
  }
}
