{
  "presets": ["env", "@babel/preset-react"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "diff"],
        "plugins": ["diff"],
        "theme": "default",
        "css": true
      }
    ],
    "transform-class-properties"
  ]
}
