html,
body,
#root,
.container {
  height: 100%;
}

body {
  background: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 0.875rem;
  color: #003049;
  font-weight: 700;
  line-height: 1.2;
  overflow-x: scroll;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: #ff4500 solid 1px;
  display: flex;
}

nav {
  flex: 1;
  margin: 1rem;
  display: flex;
}

nav h1 {
  margin: 0;
  flex: 1;
}

nav ul {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}

a {
  color: #003049;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}

nav a.active {
  color: #ff4500;
  text-decoration: underline;
}

h1,
h2 {
  font-size: 1.5rem;
  margin: 2rem 0;
  line-height: 1.2;
}

h2:first-child {
  margin-top: 2rem;
}

p {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.2;
  font-weight: 400;
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer {
  border-top: #ff4500 solid 1px;
  display: flex;
  padding: 1rem;
}

.table_options_button {
  float: right;
}

#progressbar {
  margin: 1rem;
}

/* diff box styles */
.diff-box pre.exception {
  white-space: pre-wrap;
  color: #ff4500;
}

.diff-box pre.traceback {
  white-space: pre-wrap;
  color: #000000;
  font-size: 0.875rem;
  max-height: 15rem;
  overflow-y: auto;
}

.fullconfig {
  overflow-x: scroll;
}

/* log output styles */
.log-viewer-modal-content {
  padding: 0 !important;
  background: #f5f2f0 !important;
  max-height: calc(80vh - 10em);
  min-height: calc(80vh - 10em);
}

.div-inline-log-viewer {
  position: relative;
  max-height: 10rem;
  margin: 1rem;
}

.language-log.expand-log-viewer {
  line-height: normal;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.language-log.text-wrap {
  line-height: normal;
  text-wrap: wrap;
}

.language-log.inline-log-viewer {
  line-height: normal;
  min-height: 4rem;
  max-height: 10rem;
  height: 100%;
  margin: 0;
  padding: 0;
}

.language-log span.keyword {
  display: inherit;
}
