<html>
  {% load static %}
  <head>
    <title>CNaaS</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <link rel="stylesheet" href="{% static "w3.css" %}"/>
    <script type="text/javascript" src={% static "cnaas.js" %}></script>
  </head>
  <body style="background-color:#d0d0d0;text-align:left">
    {% if message is not None %}
    <script>
      alert("{{ message }}");
    </script>
    {% endif %}
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
      <h3 class="w3-bar-item">Menu</h3>
      <a href="/nms/devices" class="w3-bar-item w3-button">Device inventory</a>
      <a href="/nac" class="w3-bar-item w3-button">Admission control</a>
      <a href="/nms/jobs" class="w3-bar-item w3-button">Jobs</a>
      <a href="/nms/mgmtdomains" class="w3-bar-item w3-button">Management domains</a>
      <a href="/nms/linknets" class="w3-bar-item w3-button">Linknets</a>
      <div class="w3-bar-item w3-button" style="position: absolute; bottom: 0;">
	<a href="https://cnaas-nms.readthedocs.io/en/latest/" class="w3-bar-item w3-button">Help</a>
      </div>
    </div>
    <form action="/nms/devices/" method="post">
      {% csrf_token %}
      <div class="topnav" style="margin-left: 20%; position: fixed; width:100%;">
	<input type="submit" name="refresh_templates" value="Refresh templates"/>
	<input type="submit" name="refresh_settings" value="Refresh settings"/>
	<input type="submit" name="sync_dryrun" value="Sync devices - dry run"/>
	<input type="submit" name="sync" value="Sync devices - push config"/>
	<input type="submit" name="remove" value="Remove devices"/>
      </div>
      <div style="margin-left: 22%; margin-top: 75px; position: absolute; width:70%; overflow-y: scroll;">
	<table class="w3-table w3-striped w3-border">
	  <tr>
	    <th>Select</th>
	    <th>Hostname</th>
	    <th>Description</th>
	    <th>Management IP</th>
	    <th>Synchronized</th>
	    <th>State</th>
	    <th>Device type</th>
	  </tr>

	  {% for device in devices %}
	  <tr>
	    {% if device.device_type != "DIST" %}
	    <td><input type="checkbox" name="device" value="{{ device.hostname }},{{ device.id }}"/></td>
	    {% else %}
	    <td></td>
	    {% endif %}
	    <td><a href="#" id="toggle" onClick="toggle_it('{{ device.id }}');">{{ device.hostname }}</a></td>
	    <td>{% if device.description is not None %}  {{ device.description }} {% endif %}</td>
	    <td>{% if device.management_ip is not None %} {{ device.management_ip }} {% endif %}</td>
	    <td>{% if device.synchronized is not None %} {{ device.synchronized }} {% endif %}</td>
	    <td>{% if device.state is not None %} {{ device.state }} {% endif %}</td>
	    <td>{% if device.device_type is not None %} {{ device.device_type }} {% endif %}</td>
	  </tr>
	  <tr id="{{ device.id }}" bgcolor="white" style="display: none;">
	    <td colspan="100%">
	      <div class="device_info">
		<div class="title-row">
		  <div class="cell">ID</div>
		  <div class="cell">DHCP IP</div>
		  <div class="cell">Serial</div>
		  <div class="cell">ZTP MAC address</div>
		  <div class="cell">Platform</div>
		  <div class="cell">Vendor</div>
		  <div class="cell">Model</div>
		  <div class="cell">OS version</div>
		</div>
		<div class="row">
		  <div class="cell">{{ device.id }}</div>
		  <div class="cell">{% if device.dhcp_ip is not None %} {{ device.dhcp_ip }} {% endif %}</div>
		  <div class="cell">{% if device.serial is not None %} {{ device.serial }} {% endif %}</div>
		  <div class="cell">{% if device.ztp_mac is not None %} {{ device.ztp_mac }} {% endif %}</div>
		  <div class="cell">{% if device.platform is not None %} {{ device.platform }} {% endif %}</div>
		  <div class="cell">{% if device.vendor is not None %} {{ device.vendor }} {% endif %}</div>
		  <div class="cell">{% if device.model is not None %} {{ device.model }} {% endif %}</div>
		  <div class="cell">{% if device.os_version is not None %} {{ device.os_version }} {% endif %}</div>
		</div>
	      </div>
	      <div class="device_info">
		<div class="title-row">
		  Interfaces
		</div>
		<div class="row">
		  <div class="cell">Names:</div>
		  <div class="cell">
		    {% for interface in device.interfaces %}
		    {{ interface.name }}
		    {% endfor %}
		  </div>
		  <div class="cell">Type:</div>
		  <div class="cell">
		    {% for interface in device.interfaces %}
		    {{ interface.configtype }}
		    {% endfor %}
		  </div>
		</div>
	      </div>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
	<br>
    </form>
    </div>
  </body>
</html>
