<html>
  {% load static %}
  <head>
    <title>CNaaS</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <link rel="stylesheet" href="{% static "w3.css" %}"/>
  </head>
  <body style="background-color:#d0d0d0;text-align:left">
    {% include "sidebar.html" %}
    <div style="margin-left: 22%; margin-top: 75px; position: fixed;">
      <table id="devices">
	{% for device in device_data %}
	<tr>
	  <th>{{ device.hostname }}: {{ device.name }}</th>
	</tr>
	<tr>
	  <td>
	    {% if device.result is not None %}
	    {{ device.result|linebreaks }}
	    {% else %}
	    {{ device.diff|linebreaks }}
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </body>
</html>
