<html>
  {% load static %}
  <head>
    <title>CNaaS</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <link rel="stylesheet" href="{% static "w3.css" %}"/>        
  </head>
  <body style="background-color:#d0d0d0;text-align:left">
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
      <h3 class="w3-bar-item">Menu</h3>
      <a href="/nms/devices" class="w3-bar-item w3-button">Device inventory</a>
      <a href="/nac" class="w3-bar-item w3-button">Admission control</a>
      <a href="/nms/jobs" class="w3-bar-item w3-button">Jobs</a>      
    </div>
    <div style="margin-left: 22%; position: fixed;">
      <table id="devices">
	{% for device in device_data %}
	<tr>
	  <th>{{ device.hostname }}: {{ device.name }}</th>
	</tr>
	<tr>
	  <td>
	    {% if device.result is not None %}
	    {{ device.result|linebreaks }}
	    {% else %}
	    {{ device.diff|linebreaks }}
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </body>
</html>
