body {
  height: calc(100vh - 4px);
  background: #fff;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  color: #003049;
  font-weight: 700;
  line-height: 1.2;
  overflow-x: scroll;
}

#root {
  height: calc(100% - 4px);
}

.container {
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: #ff4500 solid 1px;
  display: flex;
}

nav {
  flex: 1;
  margin: 16px;
  display: flex;
}

nav h1 {
  margin: 0;
  flex: 1;
}

nav ul {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 16px;
}

a {
  text-transform: Captalize;
  color: #003049;
  text-decoration: none;
}

h1,
h2 {
  font-size: 24px;
  margin: 32px 0;
  line-height: 1.2;
}

h2:first-child {
  margin-top: 32px;
}

p {
  font-size: 16px;
  margin: 16px 0;
  line-height: 1.2;
  font-weight: 400;
}

/* p:first-child {
  margin-top: 16px;
} */

button {
  background: #ff4500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;

  border: transparent solid 1px;
  border-radius: 20px;

  padding: 16px 32px;
  margin: 16px;
}

button:hover {
  border: #ff4500 solid 1px;
  background: #ffe7dd;
  color: #ff4500;
}

button:disabled {
  background: #cccccc;
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* long-term maybe panel can be removed */
#panel {
  padding: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer {
  border-top: #ff4500 solid 1px;
  display: flex;
  padding: 16px;
}

/* task styles */
.task-container {
  border: solid gray 1px;
  margin: 16px 0;
  padding-bottom: 16px;
}

.task-container h2,
.task-container p {
  padding: 0 16px;
}

.task-container p {
  font-size: 20px;
  font-weight: 400;
}

.task-container .heading {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
}

.task-container .heading h2 {
  margin: 32px 0 32px 0;
}

.task-container .close {
  background: transparent;
  border: none;
  text-transform: capitalize;
  color: #ff4500;
}

.task-container .close:hover {
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-decoration: underline;
}

.task-collapsable {
  margin-top: 16px;
}

.task-collapsable .info {
  display: flex;
  align-items: baseline;
}

.ui.checkbox {
  margin: 16px;
}

a.active {
  color: #ff4500;
  text-decoration: underline;
}

table,
thead,
tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  border-bottom: solid white 1px;
}

thead {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: lightgray;
}

tbody {
  font-size: 16px;
  font-weight: 400;
}

th,
td {
  display: flex;
  flex: 1;
  padding: 16px;
}

/* progress bar styles */

#progressbar {
  margin: 16px;
}

progress {
  display: flex;
  width: 100%;
  border-radius: 10px;

    /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  /* Get rid of default border in Firefox. */
  border: none;
}

progress::-webkit-progress-bar {
  background-color: #ffe7dd;
}
progress::-webkit-progress-value {
  background-color: #ff4500;
}
progress::-moz-progress-bar {
  background-color: #ff4500;
}

/* DeviceList styles */

#search {
  padding: 16px 0;
}

#device_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0;
}

/* make ID column small, use nth-child instead of last so it doesn't affect device_details */
#device_list .device_list tr td:nth-child(4),
#device_list .device_list tr th:nth-child(4) {
  width: 5em;
  min-width: 2em;
  max-width: 5em;
}

#data {
  margin: 16px 0;
  background: lightgray;
}

#data .device_details_row {
  background: white;
}

#data .device_details_row td {
  display: flex;
  flex-direction: column;
}

#data .device_details_row a {
  width: fit-content;
}

#data .device_details_table {
  width: 100%;
  table-layout: fixed;
}

#data .device_details_table td {
  padding: 4px;
}

#data .device_details_table tr td:first-child {
  width: 20em;
  min-width: 20em;
  max-width: 20em;
}

/* error styles */
.error {
  color: #ff4500;
}

/* diff box styles */
#diff-box {
  background-color: #ececec;
  color: #ff4500;
  margin: 0 1rem;
}

#diff-box li {
  margin: 1rem 0;
}

#diff-box li .device-name {
  background-color: lightgray;
}

#diff-box .device-name {
  color: #003049;
  padding: 1rem;
  margin: 0;
}

#diff-box pre {
  padding-left: 1rem;
}

/* log output styles */
.logoutput {
  overflow-y: scroll;
  max-height: 10em;
  overflow-x: hidden;
  font-family: monospace;
  background-color: #ddd;
  margin: 1em;
  font-size: 90%;
}

.job_ticket_ref {
  width: 20em;
}
