<html>
  {% load static %}
  <head>
    <title>CNaaS</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
  </head>
  <body style="background-color:#d0d0d0;text-align:left">
    <form action="/cnaas/devices/" method="post">
      {% csrf_token %}
      <div class="topnav">
	<input type="submit" name="cancel" value="Back"/>
	{% if dryrun is False %}
	<input type="label" value="Device sync - configuration push" align="right" style="float: right"/>
	{% else %}
	<input type="label" value="Device sync - dry-run" align="right" style="float: right"/>
	{% endif %}
      </div>
    </form>
    <table id="devices">
      {% for device in device_data %}
      <tr>
	<th>{{ device.hostname }}: {{ device.name }}</th>
      </tr>
      <tr>
	<td>
	  {% if device.result is not None %}
	  {{ device.result|linebreaks }}
	  {% else %}
	  {{ device.diff|linebreaks }}
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
