<html>
  {% load static %}
  <head>
    <title>CNaaS</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <link rel="stylesheet" href="{% static "w3.css" %}"/>
    <script type="text/javascript" src={% static "cnaas.js" %}></script>
  </head>
  <body style="background-color:#d0d0d0;text-align:left">
    {% include "sidebar.html" %}
    <form action="/nac/users/" method="post">
      <div class="topnav" style="margin-left: 20%; position: fixed; width:100%;">
	<a href="#" id="toggle" onClick="toggle_it('add_user');">Add user</a>
	<input type="submit" name="user_delete" value="Remove user"/>
      </div>
      {% csrf_token %}
      <div style="margin-left: 22%; margin-top: 75px; position: fixed; width:70%;">
	<div id="add_user" style="display: none; background-color: #f2f2f2;">
	  Username: <input type="text" name="username"/>
	  Password: <input type="text" name="password"/>
	  VLAN: <input type="text" name="vlan"/>
	  <input type="submit" name="user_add" value="Add"/>
	</div>
	<table class="w3-table w3-striped w3-border">
	  <tr>
	    <th>Select</th>
	    <th>Username</th>
	    <th>Attribute</th>
	    <th>Type</th>
	    <th>Value</th>
	  </tr>
	  {% for user in users %}
	  <tr>
	    <td><input type="checkbox" name="users" value="{{ user.username }}"/></td>
	    <td>{{ user.username }}</td>
	    {% for attr in user.reply %}
	    <td>
	      {{ attr.value }}
	    </td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
    </form>
    </div>
  </body>
</html>
