body {
  height: calc(100vh - 4px);
  background: #fff;
  /* border: black solid 2px; */

  font-family: "Karla", sans-serif;
  font-size: 14px;
  color: #003049;
  font-weight: 700;
  line-height: 1.2;
}

#root {
  height: calc(100% - 4px);
  /* border: blue solid 2px; */
}

.container {
  height: calc(100% - 4px);
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: #ff4500 solid 1px;
  display: flex;
}

nav {
  flex: 1;
  /* background: lightgray; */
  margin: 16px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  /* background: gray; */
}

nav li {
  margin-right: 16px;
}

a {
  text-transform: Captalize;
  color: #003049;
  text-decoration: none;
}

h1 {
  font-size: 24px;
}

button {
  background: #ff4500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;

  border: transparent solid 1px;
  border-radius: 20px;

  padding: 16px 32px;
  margin: 16px 0;
}

button:hover {
  border: #ff4500 solid 1px;
  background: #ffe7dd;
  color: #ff4500;
}

p {
  /* font-family: "Montserrat", sans-serif; */
}

#panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
  margin: 32px 16px;
  /* background: lightgreen; */
}

#request {
  padding: 16px 0;
  /* background: lightyellow; */
}

#response {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0;
  /* background: lightseagreen; */
}

#data {
  display: flex;
  height: 100%;
  margin: 16px 0;
  background: lightgray;
}

table,
thead,
tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  border-bottom: solid white 1px;
}

thead {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: lightgray;
}

tbody {
  font-size: 20px;
  font-weight: 400;
}

th,
td {
  display: flex;
  flex: 1;
  padding: 16px;
}

footer {
  border-top: #ff4500 solid 1px;
  display: flex;
  padding: 16px;
}
