body {
  height: calc(100vh - 4px);
  background: #fff;

  font-family: "Karla", sans-serif;
  font-size: 14px;
  color: #003049;
  font-weight: 700;
  line-height: 1.2;
}

#root {
  height: calc(100% - 4px);
}

.container {
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: #ff4500 solid 1px;
  display: flex;
}

nav {
  flex: 1;
  margin: 16px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 16px;
}

a {
  text-transform: Captalize;
  color: #003049;
  text-decoration: none;
}

h1,
h2 {
  font-size: 24px;
  margin: 32px 0;
  line-height: 1.2;
}

p {
  font-size: 16px;
  margin: 16px 0;
  line-height: 1.2;
  font-weight: 400;
}

button {
  background: #ff4500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #fff;
  letter-spacing: 1px;

  border: transparent solid 1px;
  border-radius: 20px;

  padding: 16px 32px;
  margin: 16px;
}

button:hover {
  border: #ff4500 solid 1px;
  background: #ffe7dd;
  color: #ff4500;
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* long-term maybe panel can be removed */
#panel {
  /* border: solid black 2px; */
  /* margin: 32px 16px; */
  padding: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer {
  border-top: #ff4500 solid 1px;
  display: flex;
  padding: 16px;
}

/* Workflow styles */
.workflow-container {
  border: solid gray 1px;
  margin: 16px 0;
}

.workflow-container h2,
.workflow-container p {
  padding: 0 16px;
}

.workflow-container p {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 400;
}

.workflow-container__header {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
}

.workflow-container__button--hide {
  background: transparent;
  border: none;
  text-transform: capitalize;
  color: #ff4500;
}

.workflow-container__button--hide:hover {
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-decoration: underline;
}

.workflow-collapsable__button-result {
  display: flex;
  align-items: baseline;
}


/* DeviceList styles */

#request {
  padding: 16px 0;
}

#response {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0;
}

#data {
  height: 100%;
  margin: 16px 0;
  background: lightgray;
}

table,
thead,
tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  border-bottom: solid white 1px;
}

thead {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: lightgray;
}

tbody {
  font-size: 20px;
  font-weight: 400;
}

th,
td {
  display: flex;
  flex: 1;
  padding: 16px;
}
